/* Reset */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  ;
}



/* Base Styles */
body {
  background: white;
  color: black;
  text-align: center;
  font-family:
    'Nunito',
    Verdana,
    Geneva,
    sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  scroll-behavior: smooth;
}

h1 {
  font-family:
    'Nunito Sans',
    Verdana,
    Geneva,
    sans-serif;
}

h2 {
  font-family:
    'Nunito Sans',
    Verdana,
    Geneva,
    sans-serif;
}

h3 {
  font-family:
    'Nunito Sans',
    Verdana,
    Geneva,
    sans-serif;
}

h4 {
  font-family:
    'Nunito Sans',
    Verdana,
    Geneva,
    sans-serif;
}

h5 {
  font-family:
    'Nunito Sans',
    Verdana,
    Geneva,
    sans-serif;
}

h6 {
  font-family:
    'Nunito Sans',
    Verdana,
    Geneva,
    sans-serif;
}

h1,
h2,
h3 {
  padding: 0.2em 0;
}


img {
  display: block;
  height: auto;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:active {
  color: #ff9800;
}

#main h1 {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin: 0.5em 0;
  padding: 15px;
  background: #8048cf;
  color: #fff;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  /*text-transform: uppercase;*/
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn:hover {
  background: #cc4e56;
}

.card-content {
  padding: 1em;
}

/* Header Showcase */
#showcase {
  min-height: 450px;
  color: black;
  background-color: white;
  text-align: center;
}




.portrait {
  position: relative;
  width: 180px;
  height: 180px;
  margin: auto;
  margin-top: -90px;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.img-container {
  display: flex;
  margin-top: 120px;
}

#showcase h1 {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

#showcase {
  padding: 6em 1.5em 0;
}

#showcase p {
  padding-bottom: 1.5em;
}


.content-container {
  color: black;
  margin: 0.5rem;
}

#home {
  align-content: center;
  color: black;
  margin-right: 90px;
  margin-left: 90px;
  font-style: normal;
}

.btn-more {
  margin: 1em;
}

.btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.material-icons.arrow-down {
  margin-left: 0.5em;
  color: #f9f6f7;
  font-size: 1em;
}

/* Social Section */
.social {
  padding: 2.5em 0.5em 0.5em;
  background: blue;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social li {
  margin: 0.5em;
  padding: 0.5em;
}

.social img {
  height: 1.5em;
  width: 1.5em;
}


/* About Section */

#about {
  padding: 1em 0.1em;
  background: white;
  color: black;
}

.transferable-skills {
  margin-top: 2em;
}

.skills-card {
  margin-bottom: 2em;
  text-align: center;
  background-color: lightgray;
}

.card-text {
  padding: 1em;
}

.card-text p {
  margin-top: 1em;
}

.dev-card a {
  color: #cc4e56;
  background-color: none;
}

.dev-card a:hover {
  color: #b7464d;
}

.dev-card a:active {
  color: #b7464d;
}

.material-icons {
  color: #e35760;
  font-size: 4em;
}

.btn-cv {
  margin-top: 2em;
  border: none;
  border-bottom: 8px solid #e5676f;
}

.btn-cv:hover {
  background: none;
  color: #343a40;
}

/* Dev-Skills Sections */

#dev-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 1.5em;
  background: #3087de;
  color: #fff;
}

.devskills-tag {
  margin: 0.3em;
  padding: 0.5em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 9em;
  background: #24282c;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* Work Section */

#work {
  padding: 1em 0.1em;
  background: white;
  color: black;
}

.projects {
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1em;
  background: lightgray;
  -webkit-box-shadow: 2px 2px 10px -3px rgba(52, 58, 64, 0.99);
  box-shadow: 2px 2px 10px -3px rgba(52, 58, 64, 0.99);
}

.card-content {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 1em 1.5em 0;
}

.card-content p {
  margin-top: 1em;
  padding: 0;
  text-align: left;
}

.myflix-card h4,
.chatapp-card h4 {
  text-align: left;
  padding: 0;
  margin-top: 1em;
}

.btn-toggle {
  margin: 1em 0;
  padding: 0;
  color: #343a40;
  background: none;
  font-size: 0.8em;
  cursor: pointer;
}

.btn-toggle:hover {
  background: none;
  color: #343a40;
  border-bottom: 1px solid #343a40;
}

.btn-toggle:active {
  background: #f9f6f7;
  color: #343a40;
}

.read-more-chatapp,
.read-more-myflix {
  display: none;
}

.read-more-chatapp.visible,
.read-more-myflix.visible {
  display: block;
}

.endpoint-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: blue;
  font-size: 1.5rem;
}

.app-link {
  color: white;
}

.index-body {
  background-color: none;
}

.title-style {
  color: red;
  text-decoration: solid;
}

.setup-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #cc4e56;
}

.arrow-right {
  font-size: 1.5em;
}

.endpoint-link:hover {
  color: blueviolet;
}

.setup-link:hover {
  color: #b7464d;
}

.endpoint-link:active {
  color: #b7464d;
}

.setup-link:active {
  color: #b7464d;
}

.checklist {
  margin-top: 1em;
  padding-bottom: 2em;
  list-style-type: '\2713';
  text-align: left;
}

.checklist li {
  margin: 0.5em;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1em;
  padding: 0.5em;
}

.project-links a {
  margin: 0 0.2em;
  padding: 0.5em;
  background: #343a40;
  color: #fff;
  border-bottom: 5px solid #24282c;
  text-transform: uppercase;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.project-links a:hover {
  background: none;
  color: #24282c;
}









#contact {
  padding: 2em;
  background: rgb(243, 240, 240);
  color: black;
}

#contact p {
  padding: 0;
  margin-bottom: 0.7em;
  font-size: small;
  color: #1307f2;
}

#contact h3 {
  color: blue;
}

.contact-form {
  background-color: #894be0;
}

.material-icons.location-icon {
  color: #fff;
}

.contact-form {
  padding: 1em;
  background: #894be0;
  color: #0a0909;
  border-radius: 6px;
  border: 1px solid #c1c1c1;
  max-width: 600px;
  margin: 0px 20%;
  line-height: 1.5;
}

.contact-form input {
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

.contact-form textarea {
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
  width: 100%;
  height: 150px;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

.contact-form button {
  display: inline-block;
  margin: 0.5em 0;
  padding: 15px;
  background: #8048cf;
  color: #fff;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  /*text-transform: uppercase;*/
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}










/* Footer */
#main-footer {
  padding: 2em 1em 0.5em;
  border-top: 8px solid #e5676f;
  text-align: center;
}

.arrow-up {
  margin: 1em;
  padding: 0;
  color: #fff;
  font-size: 2em;
  background: #24282c;
  border-radius: 50%;
}

.arrow-up:hover {
  background: #f9f6f7;
  color: #343a40;
}

/* Case Study Page */

.study-body {
  background: lightgray;
  color: #343a40;
}

.myflix-style {
  color: darkblue;
  text-decoration: bold;
}

.heading-style {
  color: red;
}

.study-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1.5em;
  background: #e35760;
  border-bottom: 8px solid #e5676f;
  text-align: left;
  z-index: 1;
}

.back-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

.back-link:hover {
  color: #343a40;
}

.case-study {
  padding: 2em;
  text-align: left;
}



.case-body {
  background-color: #b7464d;
  color: black;
}

.case-study h1 {
  padding: 1.2em;
  line-height: 1.2em;
  text-align: center;
}

.intro img,
.server-img img,
.client-img img {
  -webkit-box-shadow: 2px 2px 10px -3px rgba(52, 58, 64, 0.99);
  box-shadow: 2px 2px 10px -3px rgba(52, 58, 64, 0.99);
}

.intro-img,
.server-img,
.client-img {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.server-side {
  margin-top: 1.5em;
}

.server-img img,
.client-img img {
  margin-bottom: 1em;
}

.client-content {
  padding-top: 0;
}

.challenges,
.duration,
.credits {
  margin-top: 1.5em;
}

.credit {
  color: rgb(249, 243, 243);
  text-align: center;
  padding: 0;
}

.social.case-social {
  padding-top: 1em;
}

.case-footer {
  padding: 2em 1em 0.5em;
  background: #343a40;
  color: #fff;
  border-top: 8px solid #e5676f;
  text-align: center;
}



.profile__portrait {
  float: left;
  margin-right: 40px;
  width: 250px;
  height: auto;
  border-radius: 50%;
}

hr {
  border: 1px solid rgb(238, 234, 240);
  border-radius: 1px;
}








@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: 'Cabin', Sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: blue;
  margin: 0px;
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #B9FAF8;
  font-size: 1rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 20px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Cabin', Sans-serif;
  background: linear-gradient(to bottom,
      #0c0b0c, #0b0b0c 35%,
      white 35%, white 70%,
      black 70%, black 100%
      /* #3D0E61 40%, #3D0E61 60%,
      white 60%, white 80%
       #613a0e 80%, #61330e 100% */
    );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  display: right;
  top: 0;
  right: -250px;
  width: 200px;
  height: 50%;
  background-color: #0c0b09;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #B9FAF8;
  font-size: 1rem;
  color: red;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #B9FAF8;
  font-size: 1rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}

#hamburger-input:checked~.overlay {
  visibility: visible;
  opacity: 0.4;
}

.thank-you {
  display: grid;
  align-content: center;
  background-color: greenyellow;
  color: white;
  top: 0;
  width: 200px;
  height: 50%;
  padding: 0px 10px;
  margin: 0 30px;
  box-sizing: border-box;
}

.thank-you a {
  color: blue;
}

@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }

  #hamburger-menu {
    display: inline;
  }
}









/* Small tablet styles */
@media screen and (min-width: 576px) {
  .social {
    padding: 5em 0.5em 1em;
  }
}

/* Medium tablet styles */

@media screen and (min-width: 760px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5em 1fr 0.5em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 0.5em;
    -moz-column-gap: 0.5em;
    column-gap: 0.5em;
  }

  .content-container {
    margin: 0 1em;
  }

  .social {
    padding: 1em 0.5em 1em;
  }

  nav {
    padding: 0 2em;
  }

  .hamburger {
    display: none;
  }

  .menu-container {
    display: block;
  }

  .menu-item {
    display: block;
    width: auto;
    padding: 1em;
  }

  .menu-item a {
    padding: 0.2em 0.5em;
  }

  .border {
    border: none;
  }

  .projects-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5em 1fr 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 0.5em;
    -moz-column-gap: 0.5em;
    column-gap: 0.5em;
  }

  .arrow-up {
    display: none;
  }

  .case-study {
    margin: 0 10em;
  }
}

/* Large tablets and laptops */

@media screen and (min-width: 992px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5em 1fr 0.5em 1fr 0.5em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 0.5em;
    -moz-column-gap: 0.5em;
    column-gap: 0.5em;
  }

  .content-container {
    margin: 0 20em;
  }

  .card-title {
    min-height: 74px;
  }

  #work {
    padding: 5em 1em 2em;
  }

  #dev-skills {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgb(66, 66, 168)
  }

  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .intro-content {
    margin-right: 2em;
    padding-top: 1em;
  }

  .intro img {
    margin-left: 2em;
  }

  .approach-title {
    margin-top: 1.5em;
  }

  .server-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .server-content {
    margin-left: 2em;
  }

  .server-img {
    margin-right: 2em;
  }

  .client-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .client-img img {
    width: 95%;
  }
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.2em;
  }

  .content-container {
    margin: 0 20em;
  }

  .menu li {
    padding: 1em 2em;
  }

  #about {
    padding: 5em 2em 2em;
  }

  .transferable-skills {
    margin: 3em 0;
  }

  #work {
    padding: 5em 2em;
  }

  .projects {
    margin-top: 3em;
  }

  .projects-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-card {
    margin-bottom: 1em;
  }

  #contact {
    padding: 3em;
  }
}

/* XXL screen styles */

@media screen and (min-width: 1500px) {
  .card-title {
    min-height: auto;
  }
}

@media screen and (min-width: 1700px) {
  .content-container {
    margin: 0 30em;
  }
}

/*
.contact-details {
  text-align: center;
  margin: 0 auto;
  line-height: 1.8;
}

.contact-details h3 {
  margin-bottom: 10px;
}

form {
  padding: 1em;
  background: grey;
  color: #f1f1f1;
  border-radius: 6px;
  border: 1px solid #c1c1c1;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

form input {
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

form textarea {
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 3px;
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

form label {
  text-align: left;
  display: block;
  width: 100%;
  padding: 0.5em 1.5em 0.5em 0;
}

form button {
  margin-top: 15px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}
*/